# Dependencies
node_modules
npm-debug.log*

# Build outputs
dist
dist-ssr
*.local

# Git
.git
.gitignore

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore

# Other
tripod-website-copy
